@font-face {
    font-family: "CocomatPro";
    src: url("../fonts/CocomatPro-Regular.eot");
    src: local("☺"), url("../fonts/CocomatPro-Regular.woff") format("woff"),
        url("../fonts/CocomatPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-variant-caps: all-small-caps;
    font-style: normal;
}

@font-face {
    font-family: "CocomatPro";
    src: url("../fonts/CocomatPro-Medium.eot");
    src: local("☺"), url("../fonts/CocomatPro-Medium.woff") format("woff"),
        url("../fonts/CocomatPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-variant-caps: all-small-caps;
    font-style: normal;
}

@font-face {
    font-family: "CocomatPro";
    src: url("../fonts/CocomatPro-Bold.eot");
    src: local("☺"), url("../fonts/CocomatPro-Bold.woff") format("woff"),
        url("../fonts/CocomatPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-variant-caps: all-small-caps;
    font-style: normal;
}

// // // 

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.eot");
    src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"),
        url("../fonts/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.eot");
    src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-SemiBold.eot");
    src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"),
        url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}